.nav {
    list-style: none;

}
.ul-class {
    list-style: none;
    
    flex-flow: row;

} 
a:hover {
    color: red; /* Change the text color to red when hovered */
    text-decoration: underline; /* Add an underline when hovered */
  }
  /* body{
    background: #6c757d;
  } */
  .card{
    background-color: linear-gradient(to right,
    #334454 0%,
    #334454 40%,
    #ffff 40%,
    #ffff 100%
    );
  }
  #spinner {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

#editor {
    height: 200px;
}

#spinner-design {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}